.list{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    min-height: 600px;
    width: 400px;
    background-color: lavender;
    border-radius: 20px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    box-shadow: 5px 5px 10px darkslategray;
}
.button{
    text-align: center;
    border: 2px solid green;
    background-color: white;
    height: 35px;
    width: 35px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Kalam', cursive;
    color:green;
}
.button:hover{
    background-color: green;
    color: white;
}
.strike{
    text-decoration: line-through;
}